<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src ${webview.cspSource} 'unsafe-inline'; script-src ${webview.cspSource} https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js 'unsafe-eval' 'unsafe-inline'">
    <link rel="stylesheet" href="${styleUri}">
    <title>Snippets Page</title>
</head>
<body>
    <nav id="nav">
        <div class="arrowf">
            <span class="arrow"></span>
            <span class="arrow2"></span>
        </div>

        <div style="flex-grow: 2;display: flex;justify-content: center; align-items: center;height: 100%;">
            <h2 style="margin-right: 1.2em; text-align: center;">CodeSnip</h2>
            <input type="text" id="searchInput" placeholder="Search snippets..." 
                style="width: calc(100% - 2em); height: 55%; border: 2px solid #278EA5; border-radius: 2em; background: white; font-family: Quicksand; padding: 0 1em;">
        </div>
        

        <div class="side-links">
            <div id="join-room">Join Room</div>
            <div style="background-color:#278EA5; padding: 0.3em 0.6em; border-radius: 0.3em;">
                <h3>Login to VSCode</h3>
            </div>
        </div>
    </nav>

    <ul id="cards">
        <!-- Snippets will be dynamically inserted here -->
    </ul>

    <div id="spinner"></div>

    <div id="overlay"> </div>
    <div class="modal" id="popup-modal">
        <div class="modal-header">Join a Room</div>
        <input type="text" id="input-box" placeholder="Enter room code..." />
        <!-- <div id="loader" class="hidden"></div> Loader -->
        <div id="loader" style="display: none;">Loading...</div>

        <div class="modal-footer">
            <button id="submit-button">Submit</button>
            <button id="close-button">Close</button>
        </div>
        <div id="response-text"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="${scriptUri}"></script>


</body>
</html>
